@keyframes configStartAnim {
  0% {
    top: 100vh;
    scale: 0.1;
    opacity: 0.2;
  }
  50% {
    top: 0vh;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes configEndAnim {
  0% {
    scale: 1;
    opacity: 1;
  }
  50% {
    top: 0vh;
  }
  100% {
    top: 100vh;
    scale: 0.1;
    opacity: 0.2;
  }
}

.config-start-anim {
  animation: configStartAnim 0.5s ease-in-out forwards;
}

.config-end-anim {
  animation: configEndAnim 0.5s ease-in-out forwards;
}
